NET "clk" LOC = "C9" | IOSTANDARD = LVCMOS33 ;
NET "rst" LOC = "K17" | IOSTANDARD = LVTTL | PULLDOWN ;
NET "clk_Out" LOC = "D7" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;
NET "serialOut" LOC = "C7" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;